<h1>
  Convert <%=@first_currency%> to <%=@second_currency%>
</h1>

<p>1 <%=@first_currency%> equals ***** <%=@second_currency%>.</p>


<%=@string_currency_converter_site%>

<p>Go <a href="/forex/<%=@first_currency%>">back</a>.</p>